# LAB | Hypothesis testing

### Import libraries here:

In [1]:
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

- We will be using  the Pokemon dataset.
- In this challenge our `null hypothesis` is that the legendary pokemons and non legendary pokemons have identical average values.
- Before applying statistical methods to this data, let's first examine the data.
- Read the `pokemon.csv` dataset

In [3]:
# Your code here
df = pd.read_csv('data/pokemon.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

- Let's start off by looking at the `head` function.

In [4]:
# Your code here
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

- Compare the `count` of legendary vs. non legendary Pokemons.

In [5]:
# Your code here
df['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

- Compute the `mean` and `standard deviation` of the `Total` points for both legendary and non-legendary Pokemon.

In [13]:
# Your code here
df.groupby(by='Legendary').Total.describe().T

Legendary       False        True
count      735.000000   65.000000
mean       417.213605  637.384615
std        106.760417   60.937389
min        180.000000  580.000000
25%        324.000000  580.000000
50%        425.000000  600.000000
75%        498.000000  680.000000
max        700.000000  780.000000

### Independent samples t-test
- The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.
- In the cell below, use the `ttest_ind` function to compare the `Total` points for `legendary` and `non-legendary` pokemon. 
- The `null hypothesis` is that the legendary pokemons and non legendary pokemons have identical average values.
- Since we do not have any information about the population, assume the variances are not equal.
```python
from scipy.stats import ttest_ind
```

In [14]:
# Your code here
from scipy.stats import ttest_ind

In [18]:
ttest_ind(df[df['Legendary'] == True].Total, df[df['Legendary'] == False].Total, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957444e-47)

- What do you conclude from this test? Write your conclusions below.
- Assume your confidence interval is 0.05

In [20]:
# Your answer here

The null hypothesis is refuted, because the pvalue is lesser than 0.05, which means that there is a significant difference in the averages values of Legendary and Non-legendary pokemon.

### Different types of pokemons
- How about we try to compare the different types of pokemon? 
- In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [21]:
# Your code here
df['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

- Since water is the largest group of Pokemon, print the `mean` and `standard deviation` for water pokemons and non-water pokemons.

In [29]:
# Your code here
df['Type1-water'] = df['Type 1'].apply(lambda x: 'Water' if x == 'Water' else 'Non-Water')
df.groupby(by='Type1-water').Total.describe().T

Type1-water   Non-Water       Water
count        688.000000  112.000000
mean         435.859012  430.455357
std          121.091682  113.188266
min          180.000000  200.000000
25%          330.000000  328.750000
50%          450.000000  455.000000
75%          515.000000  502.250000
max          780.000000  770.000000

- Perform an independent samples t-test to compare the `mean` of `Total` points for water Pokemon to all non-water Pokemon. 
- Assume the variances are equal.

In [30]:
# Your code here
ttest_ind(df[df['Type1-water'] == 'Water'].Total, df[df['Type1-water'] == 'Non-Water'].Total, equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

- Can we reject the Null hypothesis?
- Write your conclusion below.

In [ ]:
# Your answer here

We keep the null-hypothesis that there is no significant difference between the averages of the water and non-water types pokemon, since we got a pvalue higher than 0.05.

____________________________________

# Challenge 2 - Matched Pairs Test

- In this challenge we will compare dependent samples of data describing our Pokemon. 
- Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. 
- Our hypothesis is that the defense and attack scores are equal. 
- Use the `ttest_rel` function to compare Pokemon's `defense` and `attack` and see if there is a statistically significant difference between them.
```python
from scipy.stats import ttest_rel
```

In [ ]:
# Your code here

- Can we reject the Null hypothesis?
- Write your conclusion below.

In [ ]:
# Your answer here

- We are also curious if is a significant difference between the mean of `Sp. Def` and the mean of `Sp. Atk`. 
- Perform the hypothesis test in the cell below.

In [ ]:
# Your code here

- Can we reject the Null hypothesis?
- Write your conclusion below.

In [ ]:
# Your answer here

- As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.
- Import the `ttest_1samp` function and perform a one sample t-test.
- Use the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.
```python
from scipy.stats import ttest_1samp
```

In [ ]:
# Your code here

# Bonus Challenge - The Chi-Square Test

- The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. 
- Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).
- In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legendary or not and whether the Type 1 of a Pokemon is water or not.
```python
contingency_table = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == "Water")
```

In [ ]:
# Your code here

- Perform a chi-squared test using the `chi2_contingency`
- You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).
```python
from scipy.stats import chi2_contingency
```

In [ ]:
# Your code here

- Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here