In [3]:
import re
import numpy as np
import pandas as pd

# Recap Function Definitions

Broken into tokens:

> <b>def </b>
- Tell python that you're starting to create a function

> <b>function_name</b>
- you give that function a name for a future call

> <b>(</b>
- Open parenthesis to give arguments (or variables) that you'll use in that functions. These helps you parametrize code.

> <b>[OPTIONAL] arg1, arg2, arg3, ... </b>
- The arguments of that function

> <b>)</b>
- CLose parenthesis to say you're done creating arguments

> <b>:</b>
- colon to say you're about to start a `code block`

> <b>code block</b>
- where you effectively do something with (or without) the arguments

> <b>return</b>
- The return statement tells you're done with the function. Whether you'll return something from that or not is optional

> <b>[OPTIONAL] something</b>
- The `something` you're allowed to retur.

In [2]:
def function_name(arg1):
    something = arg1 + 10
    return something

function_name

In [3]:
# Fazer teste unitário utilizando `function_name`
function_name(10)

20

In [4]:
# Fazer outro teste unitário utilizando `function_name`
function_name(20)

30

# What is a Lambda Function?

https://realpython.com/python-lambda/


> Named after `lambda calculus`.

> Usually refers to `anonymous functions`

## How to define lambda functions?

In [5]:
# Escrever uma função que obtém um valor e retorna sua metade
def half(x):
    return x/2

In [6]:
# Escrever uma função lambda que obtém um valor e retorna sua metade
lambda x: x/2

In [7]:
# Escrever uma função lambda que obtém um valor e soma 10
lambda y: y+10

## Some ways to call a lambda function

### Example 1

In [8]:
# Escrever uma função lambda que soma 10 
# Passar como parâmetro o valor 30 (fazer teste com outros números)
(lambda arg1: arg1+10)(30)

40

### Example 2

In [9]:
# Atribuir essa função lambda a uma variável
func1 = lambda arg1: arg1+10

In [10]:
# Passar um valor para essa função
func1(10)

20

### Example 3

In [11]:
# atribuir à variável example_list os valores [1,4,5,8]
example_list = [1, 4, 5, 8]

In [13]:
# utilizar o map para aplicar a função half à lista que acabamos de criar
map(half, example_list)

#lazy evaluation

In [14]:
tuple(map(half, example_list))

(0.5, 2.0, 2.5, 4.0)

In [15]:
list(map(half, example_list))

[0.5, 2.0, 2.5, 4.0]

In [16]:
for value in map(half, example_list):
    print(value)

0.5
2.0
2.5
4.0

In [17]:
# utilizar o map para aplicar a função lambda à lista que acabamos de criar
map(lambda x: x/2, example_list)

In [18]:
list(map(lambda x: x/2, example_list))

[0.5, 2.0, 2.5, 4.0]

## Define a lambda function using more than 1 argument

In [19]:
# Crie uma função convencional que soma dois valores
def my_sum(a , b):
    return a + b

In [20]:
# Crie a mesma função mas agora utilizando lambda function
# Atribua essa função anônima a uma variável a chame a
func2 = lambda a, b: a+b
func2(10, 10)

20

In [21]:
# Chame a mesma função utilizando parênteses logo depois
(lambda a, b: a+b)(10, 10)

20

## Adding Conditions

In [22]:
# Criando uma função Lambda para evitar divisão por zero
example_list = [(10, 2), (4, 2), (6, 0)]
lambda num, dem: num/dem if dem!=0 else 0

In [23]:
map(lambda num, dem: num/dem if dem!=0 else 0, example_list)

In [26]:
safe_div = lambda num, dem: num/dem if dem!=0 else 0
[safe_div(a, b) for a, b in example_list]

[5.0, 2.0, 0]

In [30]:
np_array = np.array(example_list)
np_array

array([[10,  2],
       [ 4,  2],
       [ 6,  0]])

In [29]:
list(map(lambda num, dem: num/dem if dem!=0 else 0, np_array[:, 0], np_array[: , 1]))

[5.0, 2.0, 0]

## Applications

### Python

#### Map

In [37]:
# Criar variável example_list com os valores [1,4,6,7,10,31,13]

example_list2 = [1,4,6,7,10,31,13]

In [ ]:
# Podemos criar uma função concenvional `half`
def half(x):
    return x/2

In [ ]:
# E aplicar essa funcão a esa lista

In [ ]:
# Ou não criamos a função e aplicamos a lambda function nessa lista utilizando map

#### Filter

In [36]:
# Podemos criar uma função convencional que retorna verdadeiro ou falso
def check_if_even(x):
    if x % 2 == 0:
        return True
    else:
        return False

In [39]:
# E aplicar essa função convencional a uma lista utilizando filter
list(filter(check_if_even, example_list2))

[4, 6, 10]

In [41]:
# Ou criamos uma lambda function para aplicar essa lógica lá
list(filter(lambda x: x%2==0, example_list2))

[4, 6, 10]

#### Ordering a dictionary by its values

In [42]:
# Criar um dicionário que relacione frutas e suas quantidades

frutas_diferentonas = {
    'Atemoia': 10, 
    'Kiwi Gold' : 30, 
    'Romã': 15, 
    'Pitaya': 5}

In [43]:
# Fazer um sort irá ordenar apenas as chaves
sorted(frutas_diferentonas)

['Atemoia', 'Kiwi Gold', 'Pitaya', 'Romã']

In [44]:
# O dicionário tem um método chamado items que transforma em tupla os valores que temos ali
frutas_diferentonas.items()

dict_items([('Atemoia', 10), ('Kiwi Gold', 30), ('Romã', 15), ('Pitaya', 5)])

In [45]:
# Podemos trazer como chave da ordenação o segundo item da tupla
sorted(frutas_diferentonas.items(), key=lambda x: x[1])

[('Pitaya', 5), ('Atemoia', 10), ('Romã', 15), ('Kiwi Gold', 30)]

#### Apply with Lambda

In [46]:
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/62f97ae1f8896b6b8e4bb08dcf65a07e0502aa8a/data/2020/2020-05-05/user_reviews.tsv', sep='\t')
df

,grade,user_name,text,date
0,4,mds27272,My gf started playing before me. No option to ...,2020-03-20
1,5,lolo2178,"While the game itself is great, really relaxin...",2020-03-20
2,0,Roachant,My wife and I were looking forward to playing ...,2020-03-20
3,0,Houndf,We need equal values and opportunities for all...,2020-03-20
4,0,ProfessorFox,BEWARE! If you have multiple people in your h...,2020-03-20
...,...,...,...,...
2994,1,TakezoShinmen,1 Island for console limitation.I cannot play ...,2020-05-03
2995,1,Pikey17,"Per giocare con figli o fidanzate, mogli o per...",2020-05-03
2996,0,Lemmeadem,One island per console is a pathetic limitatio...,2020-05-03
2997,2,TandemTester938,Even though it seems like a great game with ma...,2020-05-03
2998,4,DwerG,Game is fantastic.Nintendo deciding that you c...,2020-05-03

In [2]:
import re
#how can i find the warning?

In [52]:
text = 'BEWARE! If you have multiple people in your h'
re.findall('[A-Z]+!', text )

['BEWARE!']

In [5]:
df.text.apply(lambda x: 'oi'+x)

0       oiMy gf started playing before me. No option t...
1       oiWhile the game itself is great, really relax...
2       oiMy wife and I were looking forward to playin...
3       oiWe need equal values and opportunities for a...
4       oiBEWARE!  If you have multiple people in your...
                              ...
2994    oi1 Island for console limitation.I cannot pla...
2995    oiPer giocare con figli o fidanzate, mogli o p...
2996    oiOne island per console is a pathetic limitat...
2997    oiEven though it seems like a great game with ...
2998    oiGame is fantastic.Nintendo deciding that you...
Name: text, Length: 2999, dtype: object

In [54]:
df.text.apply(lambda x: re.findall('[A-Z]+!', x))

0                               [SUCKS!]
1                                     []
2                                     []
3                                     []
4       [BEWARE!, CANT!, BEWARE!, CANT!]
                      ...
2994                                  []
2995                                  []
2996                                  []
2997                                  []
2998                                  []
Name: text, Length: 2999, dtype: object

#### Transform with Lambda

In [55]:
# Ler csv disponibilizado no artigo http://www.statsci.org/data/general/sleep.txt
# Atribuir à df
file_address = 'http://www.statsci.org/data/general/sleep.txt'
df = pd.read_csv(file_address, sep='\t')

In [56]:
# Aplicar a média utilizando transform para o grupo TotalSleep
df.groupby('Exposure').TotalSleep.mean()

Exposure
1    12.946154
2    11.115385
3     8.575000
4    10.720000
5     4.190000
Name: TotalSleep, dtype: float64

In [58]:
df.head()

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4

In [57]:
df.groupby('Exposure').TotalSleep.transform('mean') #atribui à linha qual o valor médio do grupo ao qual pertence

0      4.190000
1     12.946154
2     12.946154
3     11.115385
4      4.190000
        ...
57    12.946154
58    11.115385
59     8.575000
60    12.946154
61    12.946154
Name: TotalSleep, Length: 62, dtype: float64

In [59]:
df.groupby('Exposure').TotalSleep.transform(lambda x: (x-x.mean())/x.std())

0    -0.500937
1    -1.163249
2    -0.111703
3     1.360772
4    -0.163227
        ...
57   -1.889316
58    1.183872
59    0.954049
60    1.615837
61         NaN
Name: TotalSleep, Length: 62, dtype: float64

In [ ]:
# Mostrar valor da coluna utilizando transform

In [ ]:
# Calcular z-score