# Strings in Python

In [3]:
var = 'oi'

In [4]:
type(var)

str

In [5]:
var

'oi'

In [6]:
print(var)

oi

## String concatenation

In [7]:
# Your code here
'Hello'+' '+'World'

'Hello World'

In [8]:
#'Hello'+1+'World' # não é possível desta forma, pois todos os elementos precisam ser do mesmo tipo
'Hello'+str(1)+'World'

'Hello1World'

In [11]:
x = 'Hello'
y = ' '
z = 'World!'
x+y+z

'Hello World!'

In [12]:
x += ' '
x

'Hello '

## Multiline strings

In [16]:
# Your code here
'''
a
b
c
'''

'\na\nb\nc\n'

In [17]:
print('''
a
b
c
''')

a
b
c

In [18]:
print('a\n\nb\nc\n\n\n\td')

a

b
c


	d

- `\n` é a representação da quebra de linha (enter)
- `\t` é a representação do TAB

# String multiplication

In [19]:
# Your code here
'Oi '*3

'Oi Oi Oi '

In [20]:
print('\t'*4 + 'Nat')

				Nat

In [21]:
print('-'*50+'\nA query rodou!\n'+'-'*50)

--------------------------------------------------
A query rodou!
--------------------------------------------------

In [22]:
['Oi']*4

['Oi', 'Oi', 'Oi', 'Oi']

In [23]:
type(['Oi']*4)

list

------

# Join list of strings

In [27]:
# Your code here
nomes = ['Natália', 'Mendes', 'Ceoldo']
nomes

['Natália', 'Mendes', 'Ceoldo']

In [28]:
len(nomes)

3

In [34]:
nome_completo = ' '.join(nomes)
nome_completo

'Natália Mendes Ceoldo'

In [32]:
#del nome #deletar variável

In [35]:
print('\n'.join(nomes))

Natália
Mendes
Ceoldo

In [36]:
print('\t'.join(nomes))

Natália	Mendes	Ceoldo

In [39]:
print('--'.join(nomes))

Natália--Mendes--Ceoldo

In [40]:
space = ' '
space.join('abcde')

'a b c d e'

# The newline character (\n)

In [ ]:
# Your code here

# Practical example

In [43]:
'''
SELECT * FROM table_A
UNION
SELECT * FROM table_B
UNION 
SELECT * FROM table_C ...
'''

'\nSELECT * FROM table_A\nUNION\nSELECT * FROM table_B\nUNION \nSELECT * FROM table_C ...\n'

In [44]:
queries = []

tables = ['table_A', 'table_B', 'table_C', 
          'table_D','table_E', 'table_F',
          'table_G','table_H', 'table_I']

In [45]:
tables

['table_A',
 'table_B',
 'table_C',
 'table_D',
 'table_E',
 'table_F',
 'table_G',
 'table_H',
 'table_I']

In [46]:
for each_table in tables:
    print(f'''SELECT * FROM {each_table}\nUNION''')

SELECT * FROM table_A
UNION
SELECT * FROM table_B
UNION
SELECT * FROM table_C
UNION
SELECT * FROM table_D
UNION
SELECT * FROM table_E
UNION
SELECT * FROM table_F
UNION
SELECT * FROM table_G
UNION
SELECT * FROM table_H
UNION
SELECT * FROM table_I
UNION

In [47]:
queries = []

for each_table in tables:
    queries.append(f'SELECT * FROM {each_table}')
queries

['SELECT * FROM table_A',
 'SELECT * FROM table_B',
 'SELECT * FROM table_C',
 'SELECT * FROM table_D',
 'SELECT * FROM table_E',
 'SELECT * FROM table_F',
 'SELECT * FROM table_G',
 'SELECT * FROM table_H',
 'SELECT * FROM table_I']

In [48]:
print('\nUNION\n'.join(queries))

SELECT * FROM table_A
UNION
SELECT * FROM table_B
UNION
SELECT * FROM table_C
UNION
SELECT * FROM table_D
UNION
SELECT * FROM table_E
UNION
SELECT * FROM table_F
UNION
SELECT * FROM table_G
UNION
SELECT * FROM table_H
UNION
SELECT * FROM table_I

In [49]:
final_query = '\nUNION\n'.join(queries)
print(final_query)

SELECT * FROM table_A
UNION
SELECT * FROM table_B
UNION
SELECT * FROM table_C
UNION
SELECT * FROM table_D
UNION
SELECT * FROM table_E
UNION
SELECT * FROM table_F
UNION
SELECT * FROM table_G
UNION
SELECT * FROM table_H
UNION
SELECT * FROM table_I

# Size of strings

In [52]:
# Your code here
len('Natália Mendes Ceoldo')

21

## Operador in

In [53]:
10 in [1, 2, 3, 4, 4, 5, 7, 8, 9]

False

In [54]:
9 in [1, 2, 3, 4, 4, 5, 7, 8, 9]

True

In [55]:
'a' in 'Natália'

True

In [56]:
'a' in 'Nátáliá'

False

In [59]:
'valor' in {'valor': 10}

True

# Word slicing

In [60]:
# slicings in lists
x = [1,2,3,566,88,5,5,55576]
x[4:]

[88, 5, 5, 55576]

In [61]:
x = 'Natália'
x[3:]

'ália'

In [62]:
x[:3]

'Nat'

In [63]:
x[-2:]

'ia'

In [64]:
x[:-2]

'Natál'

# Splitting a string

Inverse of join

In [75]:
# Your code here
nome_completo = 'Natália Mendes Ceoldo'
nome_completo.split(' ')

['Natália', 'Mendes', 'Ceoldo']

In [83]:
nome_completo.split('a' or 'á', 3)

['N', 'táli', ' Mendes Ceoldo']

In [84]:
'''
Natália
Mendes
Ceoldo
'''.split('\n')

['', 'Natália', 'Mendes', 'Ceoldo', '']

In [85]:
list('abc')

['a', 'b', 'c']

In [86]:
list('[1, 2, 3]')

['[', '1', ',', ' ', '2', ',', ' ', '3', ']']

In [89]:
# Your code here
'''
Natália
Mendes
Ceoldo
'''.split('\n')[1]

'Natália'

In [90]:
'''
Natália
Mendes
Ceoldo
'''[1]

'N'

# Startswith vs Endswith

In [97]:
# Your code here
'Natália Mendes Ceoldo'.startswith('nat')

False

In [101]:
'Natália Mendes Ceoldo'.endswith('ceoldo')

False

In [100]:
'Natália Mendes Ceoldo'.lower().endswith('ceoldo')

True

In [102]:
'Natália Mendes Ceoldo'.upper().endswith('CEOLDO')

True

In [94]:
# exemplo pratico
variables = ['qtd_casa','qtd_boleto','qtd_titulos','vlr_boleto','vlr_titulos','vlr_cartao']

In [103]:
for each_var in variables:
    if each_var.startswith('vlr'):
        print(each_var)

vlr_boleto
vlr_titulos
vlr_cartao

In [104]:
for each_var in variables:
    if each_var.startswith('td_', 1):
        print(each_var)

qtd_casa
qtd_boleto
qtd_titulos

# Is it in a string?

In [106]:
# Your code here
'a' in 'abc'

True

In [107]:
'ab' in 'abc'

True

In [108]:
'ac' in 'abc'

False

# String methods.

In [112]:
# Your code here
x = 'string'
X = 'STRING'
print(x.upper())
print(X.lower())
print(x.capitalize())
print(X.capitalize())
print(x.startswith('str'))
print(x.endswith('ing'))

y='string composta'
print(y.title())

STRING
string
String
String
True
True
String Composta

# Strip!

In [120]:
# Your code here
'      São Paulo     '.strip()

'São Paulo'

In [121]:
'      São Paulo     '.lstrip()

'São Paulo     '

In [122]:
'      São Paulo     '.rstrip()

'      São Paulo'

In [119]:
' '.join('São           Paulo      '.split())

'São Paulo'

# Replacing values

In [123]:
# Your code here
'Natália Mendes Coelho'.replace('Coelho', 'Ceoldo')

'Natália Mendes Ceoldo'

In [126]:
'Eu adorei esse filme. adorei mesmo'.replace('adorei', 'detestei', 1)

'Eu detestei esse filme. adorei mesmo'