# Lab | Data Cleaning

## Introduction

We keep seeing a common phrase that 80% of the work of a data scientist is data cleaning. We have no idea whether this number is accurate but a data scientist indeed spends lots of time and effort in collecting, cleaning and preparing the data for analysis. This is because datasets are usually messy and complex in nature. It is a very important ability for a data scientist to refine and restructure datasets into a usable state in order to proceed to the data analysis stage.

In this exercise, you will both practice the data cleaning techniques we discussed in the lesson and learn new techniques by looking up documentations and references. You will work on your own but remember the teaching staff is at your service whenever you encounter problems.


## Resources

[Data Cleaning with Numpy and Pandas](https://realpython.com/python-data-cleaning-numpy-pandas/#python-data-cleaning-recap-and-resources)

[Data Preparation](https://www.kdnuggets.com/2017/06/7-steps-mastering-data-preparation-python.html)

# Import library

In [1]:
# Your code here
import pandas as pd
import numpy as np

# Read the users dataset.

Take a look at what is the `users.csv` separator.

In [3]:
!ls data

posts_file.csv
users.csv

In [8]:
!head data/users.csv

Id#Reputation#CreationDate#DisplayName#LastAccessDate#WebsiteUrl#Location#AboutMe#Views#UpVotes#DownVotes#AccountId#Age#ProfileImageUrl
-1#1#2010-07-19 06:55:26#Community#2010-07-19 06:55:26#http://meta.stackexchange.com/#on the server farm#"<p>Hi, I'm not really a person.</p>

<p>I'm a background process that helps keep this site clean!</p>

<p>I do things like</p>

<ul>
<li>Randomly poke old unanswered questions every hour so they get some attention</li>
<li>Own community questions and answers so nobody gets unnecessary reputation from them</li>

In [11]:
# Your code here
df_users = pd.read_csv('data/users.csv', sep='#')
df_users

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40498,6726,1,2011-10-09 13:16:20,AlexAtStack,2012-05-18 09:32:44,NaN,NaN,NaN,0,0,0,203972,NaN,NaN
40499,53426,101,2014-08-05 07:54:54,John J. Camilleri,2014-08-05 08:54:37,http://johnjcamilleri.com,"Gothenburg, Sweden","<p>Accidental computational linguist, de facto...",1,2,0,34865,28.0,https://www.gravatar.com/avatar/5738c02070833b...
40500,21468,101,2013-03-02 07:50:03,Peter L.,2013-03-02 07:50:03,http://www.a1qa.com/,"Minsk, Belarus","<p>QA Manager with comprehensive, cold-blooded...",1,0,0,2211454,32.0,http://www.gravatar.com/avatar/cbd80a5b2a5257d...
40501,54132,1,2014-08-15 10:52:25,user54132,2014-08-15 10:52:25,NaN,NaN,NaN,1,0,0,4894117,NaN,NaN
40502,39943,1,2014-02-10 20:55:19,user1133128,2014-02-10 20:55:19,NaN,NaN,NaN,0,0,0,1151526,NaN,https://www.gravatar.com/avatar/8e983e68f44d99...

In [13]:
df_users.describe().T

,count,mean,std,min,25%,50%,75%,max
Id,40503.0,2.803578e+04,1.632371e+04,-1.0,12962.5,28042.0,42545.5,55747.0
Reputation,40503.0,8.399672e+01,7.897417e+02,1.0,1.0,11.0,101.0,87393.0
Views,40503.0,8.892156e+00,1.539374e+02,0.0,0.0,0.0,3.0,20932.0
UpVotes,40503.0,6.568526e+00,1.342007e+02,0.0,0.0,0.0,0.0,11442.0
DownVotes,40503.0,2.600054e-01,1.122822e+01,0.0,0.0,0.0,0.0,1920.0
AccountId,40503.0,2.032809e+06,1.571990e+06,-1.0,458025.5,1816532.0,3357344.5,5027354.0
Age,8352.0,3.164847e+01,9.293856e+00,13.0,26.0,30.0,35.0,94.0

## Check its shape

See the number of rows and columns you're dealing.

In [19]:
# Your code here
df_users.shape

(40503, 14)

## Use the .head() to see some rows of your dataframe.

In [21]:
# Your code here
df_users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

## Get the data info. 

Which columns have a great number of missing values? How many space does this dataframe is occupying in your memory?

Expected output:
````
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40503 entries, 0 to 40502
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype  
---  ------           --------------  -----  
 0   Id               40503 non-null  int64  
 1   Reputation       40503 non-null  int64  
 2   CreationDate     40503 non-null  object 
 3   DisplayName      40497 non-null  object 
 4   LastAccessDate   40503 non-null  object 
 5   WebsiteUrl       8158 non-null   object 
 6   Location         11731 non-null  object 
 7   AboutMe          9424 non-null   object 
 8   Views            40503 non-null  int64  
 9   UpVotes          40503 non-null  int64  
 10  DownVotes        40503 non-null  int64  
 11  AccountId        40503 non-null  int64  
 12  Age              8352 non-null   float64
 13  ProfileImageUrl  16540 non-null  object 
dtypes: float64(1), int64(6), object(7)
memory usage: 4.3+ MB
````

In [22]:
# Your code here
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40503 entries, 0 to 40502
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               40503 non-null  int64
 1   Reputation       40503 non-null  int64
 2   CreationDate     40503 non-null  object
 3   DisplayName      40497 non-null  object
 4   LastAccessDate   40503 non-null  object
 5   WebsiteUrl       8158 non-null   object
 6   Location         11731 non-null  object
 7   AboutMe          9424 non-null   object
 8   Views            40503 non-null  int64
 9   UpVotes          40503 non-null  int64
 10  DownVotes        40503 non-null  int64
 11  AccountId        40503 non-null  int64
 12  Age              8352 non-null   float64
 13  ProfileImageUrl  16540 non-null  object
dtypes: float64(1), int64(6), object(7)
memory usage: 4.3+ MB

## Rename Id column to user_id.

Remember to store you results back at the dataframe.

In [31]:
# Your code here
df_users.rename(columns = {'Id':'user_id'}, inplace=True)
df_users.head()

,user_id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

# Import the `posts_file.csv` dataset

In [32]:
# Your code here
!head data/posts_file.csv

post_id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,user_id,LasActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
67711,2,,2013-08-19 02:31:14,3,,"<p>At least in OLS, flipping the direction ($x_j^* = k-x_j$) of an ordinary explanatory variable (/predictor) that isn't involved in any interactions should only change its sign and the coefficient of the constant (along with things those directly affect, like the sign of the t-ratio for the $j$-th variable and the constant's t-ratio and p-value).</p>

<p>If you let $\\beta^*_j =-\\beta_j$ and $\\beta_0^* = \\beta_0+\\beta_j k$ then you can see exactly the same fit is obtained (which must therefore minimize the sum of squares).</p>

<p>(If that's not convincing, there are a few ways of coming at it to see that nothing else can change, but I'd probably do it in terms of Gram-Schmidt orthogonalization.)</p>

<p>We can see this is what happens with an example done in R. ""cars"" is a data set containing speed and stopping distance of cars in the 1920s (<code>speed</code> and <code>dist</code> respectively; below I will cut out a few lines of output that we don't care about here):</p>

<pre><code>cars2 &lt;- cars                # taking a copy to play with

In [35]:
df_posts = pd.read_csv('data/posts_file.csv')
df_posts

,post_id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,user_id,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,67711,2,NaN,2013-08-19 02:31:14,3,NaN,"<p>At least in OLS, flipping the direction ($x...",805.0,2013-08-19 10:17:50,NaN,...,NaN,0,NaN,805.0,2013-08-19 10:17:50,NaN,67709.0,NaN,NaN,NaN
1,92493,1,NaN,2014-04-04 05:35:59,2,18.0,<p>I have used a psychometric survey of 10 ite...,43085.0,2014-04-04 05:35:59,Multiple Regression - Extreme F-statistic and ...,...,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,86981,2,NaN,2014-02-18 08:39:04,1,NaN,<p>I think that this is due to familywise erro...,38450.0,2014-02-18 09:04:57,NaN,...,NaN,1,NaN,805.0,2014-02-18 09:04:57,NaN,86889.0,NaN,NaN,NaN
3,38717,2,NaN,2012-10-05 09:49:08,2,NaN,"<p>There's a <a href=""http://www.ncbi.nlm.nih....",4598.0,2014-02-15 11:26:53,NaN,...,NaN,3,NaN,4598.0,2014-02-15 11:26:53,NaN,38541.0,NaN,NaN,NaN
4,113919,2,NaN,2014-09-01 01:41:05,3,NaN,"<p>For that data, the estimated regression equ...",805.0,2014-09-01 20:09:53,NaN,...,NaN,1,NaN,805.0,2014-09-01 20:09:53,NaN,113871.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8294,113953,1,NaN,2014-09-01 12:45:51,0,52.0,<p>I have obtained PCA scores (Anderson-Rubin)...,54711.0,2014-09-01 12:45:51,PCA scores and cluster analysis,...,0.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8295,114059,1,NaN,2014-09-02 13:21:33,0,18.0,<p>I have collected ratings on a scale from 0 ...,54103.0,2014-09-02 13:42:46,Statistics that shows how two ranges of number...,...,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8296,114222,1,NaN,2014-09-03 18:40:11,3,49.0,"<p>Dear statistics experts,</p>\n\n<p>I have t...",48159.0,2014-09-05 02:29:58,The biological significance of ANOVA 3-way int...,...,1.0,0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8297,114349,1,NaN,2014-09-04 15:04:50,1,34.0,<p>I'm having some trouble understanding Leo B...,47999.0,2014-09-04 15:04:50,Random forest - proof of convergence,...,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8298,114527,1,NaN,2014-09-06 12:11:40,0,45.0,<p>From Shapiro-Wilk's test I see that the res...,54711.0,2014-09-06 18:07:31,Normality assumption in PCA,...,0.0,5,NaN,54711.0,2014-09-06 18:07:31,NaN,NaN,NaN,NaN,NaN

## Perform the same as above to understand a bit of your data (head, info, shape)

In [ ]:
# Your code here

In [37]:
# shape
df_posts.shape

(8299, 21)

In [38]:
# head
df_posts.head()

,post_id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,user_id,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,67711,2,NaN,2013-08-19 02:31:14,3,NaN,"<p>At least in OLS, flipping the direction ($x...",805.0,2013-08-19 10:17:50,NaN,...,NaN,0,NaN,805.0,2013-08-19 10:17:50,NaN,67709.0,NaN,NaN,NaN
1,92493,1,NaN,2014-04-04 05:35:59,2,18.0,<p>I have used a psychometric survey of 10 ite...,43085.0,2014-04-04 05:35:59,Multiple Regression - Extreme F-statistic and ...,...,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,86981,2,NaN,2014-02-18 08:39:04,1,NaN,<p>I think that this is due to familywise erro...,38450.0,2014-02-18 09:04:57,NaN,...,NaN,1,NaN,805.0,2014-02-18 09:04:57,NaN,86889.0,NaN,NaN,NaN
3,38717,2,NaN,2012-10-05 09:49:08,2,NaN,"<p>There's a <a href=""http://www.ncbi.nlm.nih....",4598.0,2014-02-15 11:26:53,NaN,...,NaN,3,NaN,4598.0,2014-02-15 11:26:53,NaN,38541.0,NaN,NaN,NaN
4,113919,2,NaN,2014-09-01 01:41:05,3,NaN,"<p>For that data, the estimated regression equ...",805.0,2014-09-01 20:09:53,NaN,...,NaN,1,NaN,805.0,2014-09-01 20:09:53,NaN,113871.0,NaN,NaN,NaN

In [39]:
# info
df_posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8299 entries, 0 to 8298
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   post_id                8299 non-null   int64
 1   PostTypeId             8299 non-null   int64
 2   AcceptedAnswerId       1344 non-null   float64
 3   CreaionDate            8299 non-null   object
 4   Score                  8299 non-null   int64
 5   ViewCount              3966 non-null   float64
 6   Body                   8284 non-null   object
 7   user_id                8197 non-null   float64
 8   LasActivityDate        8299 non-null   object
 9   Title                  3966 non-null   object
 10  Tags                   3966 non-null   object
 11  AnswerCount            3966 non-null   float64
 12  CommentCount           8299 non-null   int64
 13  FavoriteCount          1217 non-null   float64
 14  LastEditorUserId       4071 non-null   float64
 15  LastEditDate           4108 non-null   object
 16  CommunityOwnedDate     233 non-null    object
 17  ParentId               4226 non-null   float64
 18  ClosedDate             145 non-null    object
 19  OwnerDisplayName       217 non-null    object
 20  LastEditorDisplayName  38 non-null     object
dtypes: float64(7), int64(4), object(10)
memory usage: 1.3+ MB

## Rename Id column to post_id and OwnerUserId to user_id.

Again, remember to check that your results are correctly stored inside the dataframe.

In [40]:
# Your code here
#obs: jÃ¡ estava renomeado desta maneira
df_posts.rename(columns = {'OwnerUserId':'user_id', 'Id column': 'post_id'}, inplace=True)
df_posts.head()

,post_id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,user_id,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,67711,2,NaN,2013-08-19 02:31:14,3,NaN,"<p>At least in OLS, flipping the direction ($x...",805.0,2013-08-19 10:17:50,NaN,...,NaN,0,NaN,805.0,2013-08-19 10:17:50,NaN,67709.0,NaN,NaN,NaN
1,92493,1,NaN,2014-04-04 05:35:59,2,18.0,<p>I have used a psychometric survey of 10 ite...,43085.0,2014-04-04 05:35:59,Multiple Regression - Extreme F-statistic and ...,...,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,86981,2,NaN,2014-02-18 08:39:04,1,NaN,<p>I think that this is due to familywise erro...,38450.0,2014-02-18 09:04:57,NaN,...,NaN,1,NaN,805.0,2014-02-18 09:04:57,NaN,86889.0,NaN,NaN,NaN
3,38717,2,NaN,2012-10-05 09:49:08,2,NaN,"<p>There's a <a href=""http://www.ncbi.nlm.nih....",4598.0,2014-02-15 11:26:53,NaN,...,NaN,3,NaN,4598.0,2014-02-15 11:26:53,NaN,38541.0,NaN,NaN,NaN
4,113919,2,NaN,2014-09-01 01:41:05,3,NaN,"<p>For that data, the estimated regression equ...",805.0,2014-09-01 20:09:53,NaN,...,NaN,1,NaN,805.0,2014-09-01 20:09:53,NaN,113871.0,NaN,NaN,NaN

## Define new dataframes for users and posts with the following selected columns:
**users columns**: user_id, Reputation, Views, UpVotes, DownVotes  
**posts columns**: post_id, Score, user_id, ViewCount, CommentCount, Body

In [44]:
# Your code here
newdf_users = df_users[['user_id', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
newdf_users.head()

   user_id  Reputation  Views  UpVotes  DownVotes
0       -1           1      0     5007       1920
1        2         101     25        3          0
2        3         101     22       19          0
3        4         101     11        0          0
4        5        6792   1145      662          5

In [46]:
newdf_users.shape

(40503, 5)

In [45]:
newdf_posts = df_posts[['post_id', 'Score', 'user_id', 'ViewCount', 'CommentCount', 'Body']]
newdf_posts.head()

,post_id,Score,user_id,ViewCount,CommentCount,Body
0,67711,3,805.0,NaN,0,"<p>At least in OLS, flipping the direction ($x..."
1,92493,2,43085.0,18.0,1,<p>I have used a psychometric survey of 10 ite...
2,86981,1,38450.0,NaN,1,<p>I think that this is due to familywise erro...
3,38717,2,4598.0,NaN,3,"<p>There's a <a href=""http://www.ncbi.nlm.nih...."
4,113919,3,805.0,NaN,1,"<p>For that data, the estimated regression equ..."

In [47]:
newdf_posts.shape

(8299, 6)

## Merge the new dataframes you have created
- Create dataframe called `posts_from_users` merging users and posts.
- You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes. 
- Think carefully which should be the key(s) for your merging.

In [49]:
# Your code here
df_posts_from_users = newdf_users.merge(newdf_posts)
df_posts_from_users

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
0,-1,1,0,5007,1920,10131,0,NaN,0,NaN
1,-1,1,0,5007,1920,16366,0,NaN,0,NaN
2,-1,1,0,5007,1920,40689,0,NaN,0,NaN
3,-1,1,0,5007,1920,28333,0,NaN,0,NaN
4,-1,1,0,5007,1920,32803,0,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...
8517,55628,1,0,0,0,115148,0,21.0,2,<p>I am currently doing research on social med...
8518,55633,4,1,0,0,115162,0,25.0,1,<p>I am new to using R. I am trying to figur...
8519,55637,26,4,0,0,115170,1,NaN,0,"<p>When you say class, I hope you mean 'output..."
8520,55734,1,0,0,0,115352,0,16.0,0,"<p>For example, I was looking at <a href=""http..."
8521,55742,6,0,0,0,115366,1,17.0,0,<p>Does any standard statistical software like...

## Check the number of duplicated rows.

Remember you can sum the results of a mask to get how many numbers the True value appeared in the results. This occurs because `True` is interpreted as `1` in Python whereas `False` is interpreted as `0`.

In [81]:
# Your code here
df_posts_from_users.duplicated().sum()

351

In [55]:
df_posts_from_users.duplicated().value_counts()

False    8171
True      351
dtype: int64

In [56]:
df_posts_from_users.duplicated().value_counts(normalize=True)

False    0.958812
True     0.041188
dtype: float64

## Find those duplicate values and try to understand what happened.

Hints:   
- You can use the argument `keep=False` from the `.duplicated()` method to bring the duplication.
- You can sort the values `by=['user_id', 'post_id']` to see them in order.

In [78]:
# Your code here
mask = df_posts_from_users.duplicated(keep=False)
df_posts_from_users.sort_values(by=['user_id', 'post_id']).loc[mask]

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
735,760,168,13,13,0,1289,7,1139.0,8,<p>I am having difficulties to select the righ...
739,760,168,13,13,0,1289,7,1139.0,8,<p>I am having difficulties to select the righ...
734,760,168,13,13,0,8625,6,1799.0,3,<p>I was fiddling with PCA and LDA methods and...
736,760,168,13,13,0,8625,6,1799.0,3,<p>I was fiddling with PCA and LDA methods and...
738,760,168,13,13,0,8625,6,1799.0,3,<p>I was fiddling with PCA and LDA methods and...
...,...,...,...,...,...,...,...,...,...,...
8475,54711,4,18,0,0,114527,0,45.0,5,<p>From Shapiro-Wilk's test I see that the res...
8477,54741,16,1,0,0,113334,3,122.0,9,<p>I am confused on what I have read about the...
8478,54741,16,1,0,0,113334,3,122.0,9,<p>I am confused on what I have read about the...
8486,54911,1,1,0,0,113691,0,36.0,11,<p>I extract data related to a movie by sentim...
8487,54911,1,1,0,0,113691,0,36.0,11,<p>I extract data related to a movie by sentim...

## Should you drop it? 
If you think it is reasonable to drop it, then drop it. Think how would you correct it in the first place? That is, what was wrong in the first place?  
*Hint: There's a pandas method to drop duplicates. If you wanted to do it by hand, you could select the indexes of the duplicated values and `.drop()` it.*

In [88]:
# Your code here
df_posts_from_users.drop_duplicates(subset='post_id', keep='first', inplace=True)
df_posts_from_users.head()

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
0,-1,1,0,5007,1920,10131,0,NaN,0,NaN
1,-1,1,0,5007,1920,16366,0,NaN,0,NaN
2,-1,1,0,5007,1920,40689,0,NaN,0,NaN
3,-1,1,0,5007,1920,28333,0,NaN,0,NaN
4,-1,1,0,5007,1920,32803,0,NaN,0,NaN

## 10. How many missing values do you have in your merged dataframe? On which columns?

In [93]:
# Your code here
df_posts_from_users.isnull().sum()

user_id            0
Reputation         0
Views              0
UpVotes            0
DownVotes          0
post_id            0
Score              0
ViewCount       4277
CommentCount       0
Body              15
dtype: int64

## Select only the rows in which there at least some missing values.

In [98]:
# Your code here
mask2 = df_posts_from_users.isnull().sum(axis=1) >= 1
df_posts_from_users.loc[mask2]

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
0,-1,1,0,5007,1920,10131,0,NaN,0,NaN
1,-1,1,0,5007,1920,16366,0,NaN,0,NaN
2,-1,1,0,5007,1920,40689,0,NaN,0,NaN
3,-1,1,0,5007,1920,28333,0,NaN,0,NaN
4,-1,1,0,5007,1920,32803,0,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...
8504,55365,321,23,1,1,114888,1,NaN,0,<p>You need to have some indication of the unc...
8507,55435,94,1,2,0,114837,-1,NaN,4,"<p>Yes, it is. Identifiability means that if ..."
8511,55484,38,0,3,0,114869,1,NaN,0,<p>I am battling similar problems at the momen...
8515,55599,31,2,0,0,115233,0,NaN,0,<p>Before computing the variance-covariance ma...
8519,55637,26,4,0,0,115170,1,NaN,0,"<p>When you say class, I hope you mean 'output..."

## You will need to make something with missing values.  Will you clean or filling them? 

Pay attention. There can be different reasons for the missings numbers. Look at the `user_id` of some of them, look at the body of the message. Which ones you're sure of what should be and which one can you infer? Don't hurry up, take a look at your data.

In [124]:
# Your code here
len(df_posts_from_users.loc[(df_posts_from_users.Body.isnull() & df_posts_from_users.ViewCount.isnull())])

15

In [116]:
df_posts_from_users.groupby(['user_id'], as_index = False).agg(total_views = ('Views', 'sum'), TotalViewCount = ('ViewCount', 'sum'))

      user_id  total_views  TotalViewCount
0          -1            0             0.0
1           5        12595         13769.0
2           8        10890          1022.0
3          11           10             0.0
4          13          178             0.0
...       ...          ...             ...
4123    55628            0            21.0
4124    55633            1            25.0
4125    55637            4             0.0
4126    55734            0            16.0
4127    55742            0            17.0

[4128 rows x 3 columns]

## Reset the index

In [ ]:
# Your code here

## Adjust the data types in order to avoid future issues. Which ones should be changed?

In [ ]:
# Your code here

# Bonus (filtering) 
What is the average number of comments for users who are above the average reputation?  
*Hint: Calculate the average of the user Reputation. Store it in a variable called `avg_reputation` and then use that variable for filtering the dataset and generating the results for each case (for the case in which `Reputation > avg_reputation`*

In [ ]:
# Your code here