# Data Structures

In this LAB we will practice Tuples, Sets and Dictionary.  
If you need you can find an extra tutorial on the links below:
* Tuples [Python Tuples Examples and Methods ](https://www.w3schools.com/python/python_tuples.asp)
* Sets [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp)
* Dictionaries [Python Dictionary Examples and Methods](https://www.w3schools.com/python/python_dictionaries.asp)

-----------------------------------

## Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element.*

In [20]:
# Your code here
tup = ('I', )
tup

('I',)

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [21]:
# Your code here
type(tup)

tuple

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

**A:** _It's not possible because Tuples are immutable. First it should be converted into a list, then modified to, at the end, be converted again into a tuple._

In [22]:
# Your code here

#Tuples are immutable. Any operation that tries to modify it (like append) 
#is not allowed. The values inside of a tuple cannot be overwritten (or mutated) 
#once the tuple is defined. To append these elements to a the tuple, we can convert 
#the tuple in a list, operate, and after that convert the list to a tuple again.

tup = list(tup)
print(tup)

list_to_append = ["r", "o", "n", "h", "a", "c", "k"]

for i in list_to_append:
    tup.append(i)
    
print(tup)
tup = tuple(tup)
print(tup)
print(type(tup))

['I']
['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k']
('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
<class 'tuple'>

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [119]:
# Your code here

tup = ("I", "r", "o", "n", "h", "a", "c", "k")
print(tup)

#Now the tup variable is a reference to a new tuple with the same name 
#as the one we first created but holding different information. 
#We didn't change the variable tup as tuples are not mutable. 
#Instead, we created a new variable tup.
tup = (1, 2, 3)
print(tup)

tup = ("I", "r", "o", "n", "h", "a", "c", "k")
print(tup)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
(1, 2, 3)
('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [27]:
# Your code here
tup1 = tup[0:4]
print(tup1)
tup2 = tup[4:]
print(tup2)

('I', 'r', 'o', 'n')
('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [29]:
# Your code here
tup3 = tup1 + tup2
tup3

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`

In [34]:
# Your code here
count1 = len(tup1)
print(count1)
count2 = len(tup2)
print(count2)
count3 = count1 + count2
print(count3)
count3 == len(tup3)

4
4
8

True

#### What is the index number of `"h"` in `tup3`?

In [35]:
# Your code here
tup3.index('h')

4

-----------------------------------

## Sets

#### First, import the Python `random` library.

In [39]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [69]:
#Your code here
sample_list_1 = random.sample(range(0, 100), 80)
#sample_list_1 = [] 
#sample_list_1.append(random.sample(range(0, 100), 80)) # dessa maneira fica uma lista dentro da lista
print(sample_list_1)
print(len(sample_list_1))

[21, 11, 84, 15, 75, 95, 49, 81, 38, 29, 25, 73, 79, 88, 59, 27, 6, 2, 47, 69, 78, 94, 7, 55, 50, 63, 72, 56, 70, 66, 51, 28, 0, 54, 1, 61, 76, 71, 68, 44, 52, 41, 40, 20, 42, 34, 57, 39, 17, 96, 89, 9, 14, 60, 46, 91, 97, 36, 35, 10, 23, 13, 98, 65, 18, 90, 3, 53, 5, 16, 85, 74, 19, 82, 77, 24, 4, 32, 86, 80]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

**A:** _Yes, because it was generated a list of uniques elements._

In [70]:
#Your code here
set1 = set(sample_list_1)
print(set1)
len(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29, 32, 34, 35, 36, 38, 39, 40, 41, 42, 44, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 63, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 88, 89, 90, 91, 94, 95, 96, 97, 98}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [77]:
#Your code here

sample_list_2 = random.choices(population = range(0, 100), k=80)

print(sample_list_2)
print(len(sample_list_2))

[0, 11, 16, 41, 63, 46, 6, 10, 71, 72, 21, 82, 59, 61, 67, 60, 90, 65, 13, 24, 70, 94, 3, 97, 62, 59, 63, 53, 77, 91, 29, 38, 89, 21, 30, 74, 9, 23, 20, 26, 34, 77, 94, 3, 97, 82, 53, 26, 81, 65, 85, 19, 34, 15, 8, 83, 86, 24, 35, 92, 21, 30, 96, 9, 77, 61, 3, 80, 54, 12, 46, 46, 33, 47, 17, 21, 28, 60, 31, 6]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

**A:** _No, because the set gets only unique values, and the "sample_list_2" was generated with population reposition, which means that the same value can be repeated._

In [78]:
#Your code here#Your code here
set2 = set(sample_list_2)
print(set2)
len(set2)

{0, 3, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 19, 20, 21, 23, 24, 26, 28, 29, 30, 31, 33, 34, 35, 38, 41, 46, 47, 53, 54, 59, 60, 61, 62, 63, 65, 67, 70, 71, 72, 74, 77, 80, 81, 82, 83, 85, 86, 89, 90, 91, 92, 94, 96, 97}

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [83]:
#Your code here
set3 = set1 - set2
print(set3)
set3 == set1.difference(set2)

{1, 2, 4, 5, 7, 14, 18, 25, 27, 32, 36, 39, 40, 42, 44, 49, 50, 51, 52, 55, 56, 57, 66, 68, 69, 73, 75, 76, 78, 79, 84, 88, 95, 98}

True

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [84]:
#Your code here
set4 = set2 - set1
print(set4)
set4 == set2.difference(set1)

{33, 67, 8, 12, 83, 62, 26, 92, 30, 31}

True

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [85]:
#Your code here
set5 = set1.intersection(set2)
print(set5)
set1.intersection(set2) == set2.intersection(set1)

{0, 3, 6, 9, 10, 11, 13, 15, 16, 17, 19, 20, 21, 23, 24, 28, 29, 34, 35, 38, 41, 46, 47, 53, 54, 59, 60, 61, 63, 65, 70, 71, 72, 74, 77, 80, 81, 82, 85, 86, 89, 90, 91, 94, 96, 97}

True

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formula to represent that relationship. Test your formular with Python code.

In [100]:
#Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

print('---')
print(f'len(set1) is the total number of elements of sample_list_1 and sample_list_2')
print('---')
print(f'''len(set2) is the number of unique values in sample_list_2, which means that len(set2)/len(set1) give us the relation
of unique elements over the total population in sample_list_2: {len(set2)*100/len(set1)}%''')
print('---')
print(f'''len(set3) is the number of values present in sample_list_1 that is not in sample_list_2, 
and it represents {len(set3)*100/len(set1)}% that is present on sample_list_1 is not on sample_list_2''')
print('---')
print(f'''len(set4) is the number of values present in sample_list_2 that is not in sample_list_1, 
and it represents {len(set4)*100/len(set1)}% that is present on sample_list_2 is not on sample_list_1''')
print('---')
print(f'''len(set5) is the number of values that is present in both sample_list_1 and sample_list_2,
and len(set5)/len(set1) gives the the relation of unique elements of sample_list_1 present in the intersection: {len(set5)*100/len(set1)}%,
while len(set5)/len(set2) gives us the relation of unique elements of sample_list_2 present in the intersection: {len(set5)*100/len(set2)}%
''')

80
56
34
10
46
---
len(set1) is the total number of elements of sample_list_1 and sample_list_2
---
len(set2) is the number of unique values in sample_list_2, which means that len(set2)/len(set1) give us the relation
of unique elements over the total population in sample_list_2: 70.0%
---
len(set3) is the number of values present in sample_list_1 that is not in sample_list_2,
and it represents 42.5% that is present on sample_list_1 is not on sample_list_2
---
len(set4) is the number of values present in sample_list_2 that is not in sample_list_1,
and it represents 12.5% that is present on sample_list_2 is not on sample_list_1
---
len(set5) is the number of values that is present in both sample_list_1 and sample_list_2,
and len(set5)/len(set1) gives the the relation of unique elements of sample_list_1 present in the intersection: 57.5%,
while len(set5)/len(set2) gives us the relation of unique elements of sample_list_2 present in the intersection: 82.14285714285714%

#### Create an empty set called `set6`.

In [104]:
#Your code here
set6 = set({})

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [105]:
#Your code here
set6.update(set3)
print(set6)
set6.update(set5)
print(set6)

{1, 2, 4, 5, 7, 14, 18, 25, 27, 32, 36, 39, 40, 42, 44, 49, 50, 51, 52, 55, 56, 57, 66, 68, 69, 73, 75, 76, 78, 79, 84, 88, 95, 98}
{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29, 32, 34, 35, 36, 38, 39, 40, 41, 42, 44, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 63, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 88, 89, 90, 91, 94, 95, 96, 97, 98}

#### Check if `set1` and `set6` are equal.

In [106]:
#Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [113]:
#Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [116]:
#Your code here
set3.union(set4, set5) == set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [120]:
#Your code here
print(set1)
set1.pop()
print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29, 32, 34, 35, 36, 38, 39, 40, 41, 42, 44, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 63, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 88, 89, 90, 91, 94, 95, 96, 97, 98}
{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29, 32, 34, 35, 36, 38, 39, 40, 41, 42, 44, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 63, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 88, 89, 90, 91, 94, 95, 96, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81]
```

In [122]:
#Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81]

for i in list_to_remove:
    if i in set1:
            set1.remove(i)
    
print(set1)

{2, 3, 4, 5, 6, 7, 10, 13, 14, 15, 16, 17, 18, 20, 23, 24, 25, 27, 28, 32, 34, 35, 36, 38, 40, 42, 44, 46, 47, 50, 52, 53, 54, 55, 56, 57, 60, 63, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 84, 85, 86, 88, 89, 90, 91, 94, 95, 96, 97, 98}

-----------------------------------

## Dictionaries

#### Now let's practice the dictionaries!  
We have this dictionary with itens to shopping in grocery.

In [125]:
grocery = {'bread':3, 'rice':2, 'cereals':4, 'eggs':12}

#### What are the `keys` of our grocery dictionary

In [126]:
#your code here
grocery.keys()

dict_keys(['bread', 'rice', 'cereals', 'eggs'])

#### What are the `values` of our grocery dictionary

In [127]:
#your code here
grocery.values()

dict_values([3, 2, 4, 12])

#### Get the value from the key `bread`

In [129]:
#your code here
grocery['bread']

3

#### Now try to create a `new dictionary` based on the table below. The names are the keys and the phone number are the values.

| Name (keys) | Phone Number (values) |
| --- | --- | 
| Valentina | 803-5114  |
| Tyler | 805-5120  |
| Camila | 805-1278 |
| James | 805-3450 |

In [132]:
#your code here
phone_number = {'Valentina': '803-5114',
                'Tyler': '805-5120',
                'Camila': '805-1278',
                'James': '805-3450' 
}

phone_number

{'Valentina': '803-5114',
 'Tyler': '805-5120',
 'Camila': '805-1278',
 'James': '805-3450'}

#### `Add this new person` to your phone dictionary:   
Manoel | 803-8080

In [133]:
#your code here
phone_number.update({'Manoel': '803-8080'})
phone_number

{'Valentina': '803-5114',
 'Tyler': '805-5120',
 'Camila': '805-1278',
 'James': '805-3450',
 'Manoel': '803-8080'}

#### Create a `list` with the phone numbers

In [135]:
#your code here
phone_list = list(phone_number.values())
phone_list

['803-5114', '805-5120', '805-1278', '805-3450', '803-8080']

###  Bonus dictionary

First thing you will practice is how to sort the keys in a dictionary. Unlike the list object, Python dictionary does not have a built-in sort method. You'll need to use FOR loops to to sort dictionaries either by key or by value.

The dictionary below is a summary of the word frequency of Ed Sheeran's song Shape of You. Each key is a word in the lyrics and the value is the number of times that word appears in the lyrics.

In [136]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 1}

There are several ways to achieve that goal but many of the ways are beyond what we have covered so far in the course. There is one way that we'll describe employing what you have learned. Please feel free to use this way or any other way you want.

1. First extract the keys of `word_freq` and convert it to a list called `keys`.

1. Sort the `keys` list.

1. Create an empty dictionary `word_freq2`.

1. Use a FOR loop to iterate each value in `keys`. For each key iterated, find the corresponding value in `word_freq` and insert the key-value pair to `word_freq2`.

Print out `word_freq2` to examine its keys and values. Your output should be:

```python
{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}
```

In [137]:
#your code here
keys = word_freq.keys()
keys = sorted(keys)
print(keys)

['a', 'about', 'all', 'although', 'and', 'are', 'at', 'baby', 'backseat', 'bag', 'bar', 'be', 'bedsheets', 'begin', 'best', 'body', 'boy', 'brand', 'can', 'chance', 'club', 'come', 'conversation', 'crazy', 'dance', 'date', 'day', 'discovering', 'do', 'doing', "don't", 'drinking', 'driver', 'eat', 'every', 'falling', 'family', 'fast', 'fill', 'find', 'first', 'follow', 'for', 'friends', 'get', 'girl', 'give', 'go', 'going', 'grab', 'hand', 'handmade', 'heart', 'hours', 'how', 'i', "i'll", "i'm", 'in', 'is', "isn't", 'it', 'jukebox', 'just', 'kiss', 'know', 'last', 'lead', 'leave', 'let', "let's", 'like', 'love', 'lover', 'magnet', 'make', 'man', 'may', 'me', 'mind', 'much', 'my', 'new', 'night', 'not', 'now', 'of', 'okay', 'on', 'one', 'our', 'out', 'over', 'place', 'plate', 'play', 'pull', 'push', 'put', 'radio', 'room', 'say', 'shape', 'shots', 'singing', 'slow', 'smell', 'so', 'somebody', 'something', 'sour', 'start', 'stop', 'story', 'sweet', 'table', 'take', 'talk', 'taxi', 'tell', 'that', 'the', 'then', 'thrifty', 'to', 'too', 'trust', 'up', 'van', 'waist', 'want', 'was', 'we', "we're", 'week', 'were', 'where', 'with', 'you', 'your']

In [141]:
word_freq2 = dict()
for i in keys:
    word_freq2.update({i : word_freq[i]})
    
print(word_freq2)

{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}