In [1]:
import tqdm
import numpy as np
import pandas as pd

# Functional Paradigm Intro

What other paradigms we have experienced?

> <b> Procedural Programming </b>
- Instructions are procedures.

> <b> Objected Oriented Programming </b>
- Instructions are grouped as part of a state of an object.

> <b> Functional Programming </b>
- No state exists. Just a serie of functions being evaluated. 
- The solution obtained is entirely based on the input. Like in math where <code>f(x) = y</code>
- This idea leads to the fact that you can also <b>pass functions as arguments</b>. And this helps a lot.

## Function definition

```python
def function_name(arg1):
    something = arg1 + 10
    return something
```

## Functions as variables

In [6]:
# Criar função que adiciona 1 ao input dado
def soma_um(arg1):
    something = arg1 + 1
    return something

In [3]:
# Atribuir função a uma variável
# Lembrando que funções podem ser pensadas como variáveis também, `add_one` é só um nome (!)
f = soma_um

In [4]:
# Passar para `f` o valor 10
f(10)

11

In [7]:
# Criar função que adiciona 2 ao input dado
def soma_dois(arg1):
    something = arg1 + 2
    return something

In [9]:
g = soma_dois
g(10)

12

In [11]:
# Já que vimos que uma função pode ser interpretada como uma variável,
# nós podemos passar essas funções como argumentos de uma função, como qualquer outra variável, correto?
def add_any(func, value):
    return func(value)

In [13]:
# Passar como argumento de `add_any` a função e os valores a serem recebidos
add_any(soma_um, 10)

11

In [14]:
add_any(soma_dois, 10)

12

In [16]:
add_any(f, 10)

11

In [17]:
add_any(g, 10)

12

## Mapping concept

In [18]:
# Atribuir a variável `example_list` uma lista com os seguintes valores 10, 12, 34, 23, 2, 6, 7
example_list = [10, 12, 34, 23, 2, 6, 7]

In [19]:
# Definir uma função que calcula qualquer coisa
def half(x):
    return x/2

In [20]:
half(10)

5.0

### Now, how to apply that function to all elements of this list?

In [22]:
# Tentativa frustrada: Passando a lista como argumento da função?
half(example_list)

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [23]:
# Opção 1: Transformando a lista em um numpy array?
half(np.array(example_list))

array([ 5. ,  6. , 17. , 11.5,  1. ,  3. ,  3.5])

In [24]:
# Opção 2: usando um loop 
new_list = []

for item in example_list:
    new_list.append(half(item))
    
new_list

[5.0, 6.0, 17.0, 11.5, 1.0, 3.0, 3.5]

In [25]:
# Opção 3: usando lists comprehensions
[half(item) for item in example_list]

[5.0, 6.0, 17.0, 11.5, 1.0, 3.0, 3.5]

In [26]:
# Opção 4: Usando mapping
map(half, example_list)

# what it does when you map a function onto a list is the below: 
# [half(10), half(12), half(34), half(23), half(2), half(6), half(7)]

Map is called `lazy`. When you run `map(function, my_list)`, it doesn't execute anything. It just stores what it needs to perform. Whenever you call it, it washes out the result.

In [27]:
# Transformar o objeto map em uma lista
list(map(half, example_list))

[5.0, 6.0, 17.0, 11.5, 1.0, 3.0, 3.5]

### Lazy evaluation

Functional programming allows the idea of not calculating the whole function at once. 

These methods return only a `python object`. This haven't calculated nothing yet. As soon as you require the results, it calculates it.

In [28]:
# Passar função e objeto a ser manipulado como argumentos da função map
map(half, example_list)

In [29]:
# Opção 1 de trazer os resultados: Transformar objeto em lista
list(map(half, example_list))

[5.0, 6.0, 17.0, 11.5, 1.0, 3.0, 3.5]

In [30]:
# Opção 2 de trazer os resultados: Printar cada valor da lista
for value in map(half, example_list):
    print(value)

5.0
6.0
17.0
11.5
1.0
3.0
3.5

In [31]:
# Opção 3 de trazer os resultados: Transformar mapping object em um objeto do tipo set
set(map(half, example_list))

{1.0, 3.0, 3.5, 5.0, 6.0, 11.5, 17.0}

## Filter

`filter` helps removing elements of a list (or any iterator, anything you can run through) by passing a function that returns `True` or `False`. `filter` will also return a `python object`, but when you require it to show you the results, it will filter out every item that has return `False` on your function.

In [ ]:
# Criar função que verifica se o valor passado é ímpar
def check_if_even(x):
    """
    Return True if x is even, else return False"""
    
    
    return x % 2 == 0

In [ ]:
# Chamar a variável `example_list`

In [ ]:
# Passar como argumento da função `filter` a função que acabamos de criar e a lista example_list

In [ ]:
# Opção 1 de trazer os resultados: Transformando em lista

In [ ]:
# Outra maneira de fazer isso sem usar a função que criamos: Criando uma list comprehension

## Reduce

Reduce brings the idea of an `accumulator`. Imagine you have a function that performs a `sum` for each pair of arguments. `reduce` (from the library `functools`) will consider the first argument of your function an `accumulator` and will run through your iterator recursively applying your function for pairs of items.

For example, for the list [1,4,6,8]

If you perform the following function:
```python
def sum_two_elements(a,b):
    return a+b
```

as 
```python
reduce( sum_two_elements, [1,4,6,8] )
```

The steps it will perform are:
```python
a = 0 # accumulator
b = 1 # value
a + b = 1 # so the accumulator receives this cummulative sum

a = 1 # accumulator
b = 4 # value
a + b = 5
...
a = 5 # accumulator
b = 6 # value 
a + b = 11
...
a = 11 # accumulator
b = 8 # value
a + b = 19

return 19
```

In [ ]:
# importar da lib functools o método reduce

#### Exemplo 1: Números

In [ ]:
# criar função `sum_two_elements` que soma os argumentos a e b
def sum_two_elements(a,b):
    print(f'a={a}, b={b}')
    return a+b

In [ ]:
# Passar como argumento da função `reduce` a função sum_two_elements e uma lista qualquer

#### Exemplo 2: Strings

In [ ]:
# Passar como argumento da função `reduce` a função sum_two_elements e uma lista com nomes

In [ ]:
# Outra maneira de fazer isso: Utilizando join

---
# Mapping on Pandas

> <code> df['col_name'].apply() </code>

## Exemplo 1

In [32]:
# Atribuir a variável n o valor 100
n = 100

In [35]:
# Criar um dataframe que tenha uma coluna chamada `number` e `n` valores
df = pd.DataFrame({'number': np.random.random(n)})

In [36]:
# Printar o dataframe chamando o método .head() para mostrar apenas as 5 primeiras linhas
df.head()

     number
0  0.531790
1  0.669664
2  0.783206
3  0.719293
4  0.610853

In [37]:
# Criar função `greater_than_half` que verifica se o valor é maior que 0.5
def greater_than_half(x):
    if x>0.5:
        return 'Maior que metade'
    else:
        return 'Menor ou igual a metade'

In [39]:
# Tentativa 1: Passar como argumento da função `greater_than_half` a coluna number
greater_than_half(df.number)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [47]:
# Modo 1: Chamar método apply para a série number e passar como argumento a função `greater_than_half`
df.number.apply(greater_than_half).value_counts()

Maior que metade           53
Menor ou igual a metade    47
Name: number, dtype: int64

In [48]:
# Criar coluna nova baseado neste mapeamento
df['classification'] = df.number.map(greater_than_half)

In [45]:
df.head()

     number    classification
0  0.531790  Maior que metade
1  0.669664  Maior que metade
2  0.783206  Maior que metade
3  0.719293  Maior que metade
4  0.610853  Maior que metade

In [46]:
# Poderíamos usar map também
df.number.map(greater_than_half).value_counts()

Maior que metade           53
Menor ou igual a metade    47
Name: number, dtype: int64

## Exemplo 2

In [49]:
# Importar a biblioteca de expressões regulares
import re

In [50]:
# Criar lista com variações do nome "Nubié"
names = ['nubie', 'Nubie', 'Nubié','NUBIE','NUBIÉ', 'Rodrigo', 'rodrigo', 'GUI', 'Gui']
df = pd.DataFrame(np.random.choice(names, n), columns=['names'])
df

      names
0     NUBIÉ
1       Gui
2     NUBIE
3   rodrigo
4       GUI
..      ...
95      GUI
96  Rodrigo
97    nubie
98  rodrigo
99  rodrigo

[100 rows x 1 columns]

In [51]:
# Fazer a contagem dos valores que temos para a coluna `names`
df.value_counts()

names
GUI        17
rodrigo    16
Rodrigo    13
NUBIE      10
NUBIÉ      10
Nubié      10
Nubie       9
nubie       9
Gui         6
dtype: int64

In [52]:
# Criar função `replace_nubie` que faz a busca da variação de `Nubié` e substitui para Nubié
def replace_nubie(x):
    pattern = '[Nn][Uu][Bb][Ii][ÉéEe]'
    return re.sub(pattern, 'Nubié', x)

In [53]:
replace_nubie('Meu nome é nubie')

'Meu nome é Nubié'

In [54]:
# Tentativa 1: Passar como argumento de replace_nubie a coluna df.names
replace_nubie(df.names)

TypeError: expected string or bytes-like object

In [65]:
# Modo correto: Mapear função utilizando apply (ou map) e atribuir novamente à coluna names
df['names'] = df.names.apply(replace_nubie)

In [67]:
# Fazer contagem dos nomes utilizando value counts
df.value_counts()

names
Nubié      48
GUI        17
rodrigo    16
Rodrigo    13
Gui         6
dtype: int64

## Apply functions with arguments

In [69]:
# Criar função `my_replace` em que decidimos: Se `option` for igual a 0, a gente retorna o nome, se for igual a 1, retornamos a profissão
def my_replace(x, option):
    """
    If option = 0, returns the name
    If option = 1, returns the profession
    """
    return x[option]

In [71]:
# Chamar função `my replace pra fazer um teste
my_replace(['Cecília', 'Psicóloga'], 1)

'Psicóloga'

In [72]:
# Criar dataframe de exemplo com lista de nomes e suas respectivas profissões
example_df = pd.DataFrame({'names': [['Madu', 'LT'], ['Rodrigo', 'TA'], ['Gui', 'TA']]})

In [85]:
# Criar colunas novas baseado nessas condições
example_df['nome'] = example_df.names.apply(my_replace, option=0)
example_df['profissão'] = example_df.names.apply(my_replace, option=1)
example_df

           names     nome profissão  score
0     [Madu, LT]     Madu        LT      6
1  [Rodrigo, TA]  Rodrigo        TA     10
2      [Gui, TA]      Gui        TA     10

In [79]:
example_df.names.map(my_replace, option=0) #.map não aceita colocar o argumento option

TypeError: map() got an unexpected keyword argument 'option'

## Apply in axis = 1

Whenever you map (apply) on a pandas dataframe using axis=1, you'll be able to have access to the rows of the dataframe on your function.

In [86]:
# Criar novo dataframe, com empresa, nome e profissão da pessoa
example_df['score'] = [6, 10, 10]

In [87]:
# Chamar dataframe
example_df

           names     nome profissão  score
0     [Madu, LT]     Madu        LT      6
1  [Rodrigo, TA]  Rodrigo        TA     10
2      [Gui, TA]      Gui        TA     10

In [92]:
# Criar função `has_passed` com a seguinte lógica:
# Se a pessoa for estudante, a nota pra passar é 7
# Se a pessoa for TA ou LT a nota para passar é 6
def has_passed(row):
    if row['profissão'] == 'LT':
        if row['score'] > 7:
            return 'pass'
        else:
            return 'fail'
    else:
        if row['score'] > 6:
            return 'pass'
        else:
            return 'fail'

In [95]:
# Aplicar função passando como argumento axis=1
example_df.apply(has_passed, axis=1)

0    fail
1    pass
2    pass
dtype: object