# Atalhos:
## Modo de inserção 
**shift+enter:** executa código da célula\
**Esc:** saí do modo de inserção e entra no modo de comando\
**shift+tab:** abre docstring de função\

## Modo de comando:
**a**: cria célula acima (above)\
**b:** cria célula abaixo (below)\
**dd:** deleta célula selecionada\
**shift+m:** une as células\
**m:** transforma a célula para tipo markdown\
**z:** refaz célula deletada

In [3]:
print("Hello World!")
print("Hello Again")

Hello World!
Hello Again

# Markdown
**negrito**\
_itálico_\

* bullet points\

1. lista ordenada
1. lista ordenada
\

> Citação

``` python

# fonte de código com syntax highlighting de python
x = 1

```

[link com mais exemplos](https://pandao.github.io/editor.md/en.html)

---
# Python Recap
## Variable Assignment

In [4]:
valor = 1
valor

1

In [5]:
valor1, valor2 = 1, 2
print(valor1)
print(valor2)

1
2

## Print Function

In [7]:
print('Oi')

Oi

In [8]:
print(valor1)

1

In [10]:
'Oi, \n meu nome é Natália'

'Oi, \n meu nome é Natália'

In [17]:
print ('Oi,\n meu nome é Natália') #na função print, o "\n" pula linha
# utiliza-se barra invertida para caracteres especiais ou "escapes codes"
# deve-se utilizar com cautela, pois dependendo do sistema operacional, função, esse tipo de código pode fazer "quebras".
#utilizar somente quando souber o que vem depois da "\" faz.

Oi,
 meu nome é Natália

## Strings

In [20]:
nome = 'Natália'
smile = ':D'
print('Oi meu nome é', nome, smile)

Oi meu nome é Natália :D

In [21]:
'Oi, meu nome é {} {}'.format(nome, smile)

'Oi, meu nome é Natália :D'

In [22]:
#f-string: a forma mais usual e considerada elegante
print(f'Oi, meu nome é {nome}, {smile}')

Oi, meu nome é Natália, :D

In [24]:
date = '2021-07-08'

In [28]:
query = f'''

select
    *
from
    table
where
    dt>={date}

'''
query

'\n\nselect\n    *\nfrom\n    table\nwhere\n    dt>=2021-07-08\n\n'

In [26]:
print(query)

select
    *
from
    table
where
    dt>=2021-07-08

In [27]:
type(query)

str

In [32]:
isinstance(query, str) #é verdadeiro que essa query é string?
#isinstance é uma função que retorna valor booleano

True

-----
# Loops

In [33]:
#for statement
for i in range(0,5):
    print('eu não vou dormir na aula!')

eu não vou dormir na aula!
eu não vou dormir na aula!
eu não vou dormir na aula!
eu não vou dormir na aula!
eu não vou dormir na aula!

In [41]:
#while statement
number = 0
while number < 5:
    print("eun não vou dormir na aula!!")
    number += 1

eun não vou dormir na aula!!
eun não vou dormir na aula!!
eun não vou dormir na aula!!
eun não vou dormir na aula!!
eun não vou dormir na aula!!

---
# If Statement

In [42]:
valor1 = 1
valor2 = 2

In [45]:
#Igualdade
valor1==valor2

False

In [46]:
#desigualdade
valor1!=valor2

True

In [47]:
'ab'<'cd'

True

In [48]:
True & True

True

In [49]:
True | False

True

In [51]:
not True

False

In [52]:
print(True ^ False)
print(True ^ True)

True
False

In [66]:
if (valor1==1) & (nome=='Mat'):
    print(f'nome: {nome}')
else:
    print(f'nome correto é: {nome}')

nome correto é: Natália