# Pandas vs SQL

## Instruções
1. Abra o http://sqlfiddle.com;
1. Construa o um schema utilizando PostgreSQL 9.3. Para isso, utilize esse script [aqui](https://grupozap-code-challenge.s3.amazonaws.com/analytics/ddl.sql);
1. Pronto, já podemos simular algumas queries! Mas antes, vamos criar um ambiente similar no Pandas;
1. Entre [neste docs](https://docs.google.com/spreadsheets/d/1co7DZT9qwUkrKb3_2qMxWFDy1BcvnlDeZAx8Ntz7mQc/edit?usp=sharing), nele temos duas abas: Anúncios e Contatos;
1. Carregue cada uma dessas bases em Pandas DataFrames distintos utilizando o comando `pd.read_clipboard()`;
1. Pronto! Agora conseguimos comparar Pandas com SQL para uma maior compreensão da linguagem.

https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html

## Comandos

Iremos nos basear nos seguintes comandos para fazer as comparações entre as duas ferramentas:

* `SELECT`
* `LIMIT`
* `WHERE`
* `GROUP BY`
* `JOIN`
* `UNION`
* `ORDER BY`

In [1]:
import pandas as pd

In [2]:
tb_listings = pd.read_clipboard()

In [3]:
tb_leads = pd.read_clipboard()

In [4]:
tb_listings.head()

,advertiser_id,listing_id,portal,city,neighborhood
0,07c25ae8-b878-0a80-4776-f3a301ab09cf,b41ddcec38f323c,VIVAREAL,Rio de Janeiro,Jacarepaguá
1,08d660eb-8769-f8c5-1ce0-58521c584a31,3b51cc54000df82,ZAP,Rio de Janeiro,Barra da Tijuca
2,0a70b984-43ed-6cb1-20c3-e27b8e9e494d,8afe42027b396ab,ZAP,Rio de Janeiro,Botafogo
3,0dbdfe30-174a-7a78-2f64-27843f91c98e,c5339b423fc2353,VIVAREAL,Rio de Janeiro,Botafogo
4,0fb716c4-073a-b274-60a8-3640b2458f46,fa7591050f410d6,VIVAREAL,São Bernardo do Campo,Planalto

In [5]:
tb_leads.head()

        listing_id  leads
0  048a0a8d01843e2      5
1  08438825a78ee95     13
2  fdf8cc57abc6295      1
3  e26e785a6330801      1
4  08c6aa2798c42c6      7

-----

```sql
SELECT 
  tb_listings.city,
  tb_listings.portal,
  sum(leads) as total_leads,
  count(tb_listings.listing_id) as total_listings
FROM 
  tb_listings
    LEFT JOIN
  tb_leads ON tb_listings.listing_id=tb_leads.listing_id
WHERE city in ('Santo André', 'São Bernardo do Campo', 'São Caetano do Sul')
GROUP BY 
  tb_listings.city, tb_listings.portal
ORDER BY
  tb_listings.city, tb_listings.portal
```

In [16]:
### Your code here!
pd.merge(left=tb_listings[tb_listings.city.isin(['Santo André', 'São Bernardo do Campo', 'São Caetano do Sul'])], right=tb_leads, how='left', on='listing_id')\
    .groupby(['city', 'portal'])\
    .agg(total_leads = ('leads', 'sum'),
      total_listing = ('listing_id', 'count'))\
    .sort_index().reset_index()

                    city    portal  total_leads  total_listing
0            Santo André  VIVAREAL          2.0              9
1  São Bernardo do Campo  VIVAREAL          0.0              3
2  São Bernardo do Campo       ZAP          0.0              1
3     São Caetano do Sul  VIVAREAL          0.0              3

```sql
SELECT ...
```

In [ ]:
### Your code here!

```sql
SELECT ...
```

In [ ]:
### Your code here!

```sql
SELECT ...
```

In [ ]:
### Your code here!

```sql
SELECT ...
```

In [ ]:
### Your code here!

```sql
SELECT ...
```

In [ ]:
### Your code here!

```sql
SELECT ...
```

In [ ]:
### Your code here!

```sql
SELECT ...
```

In [ ]:
### Your code here!

```sql
SELECT ...
```

In [ ]:
### Your code here!

```sql
SELECT ...
```

In [ ]:
### Your code here!

```sql
SELECT ...
```

In [ ]:
### Your code here!

```sql
SELECT ...
```

In [ ]:
### Your code here!